.nav-wrapper .brand-logo {
    padding: 0 15px;
}

.jumbotron {
    background: url("https://lh3.googleusercontent.com/-rFgdRb3rKrI/VU8_5IkHXNI/AAAAAAAAII4/G63WUHtQAhk/w2664-h2664/15%2B-%2B21.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    padding-top: 80px;
    min-height: 720px;
}

.jumbotron .desc h1 {
    font-weight: 100;
    line-height: 1.6;
    font-size: 3.85rem;
    color: white;
    padding-top: 100px;
}

.jumbotron .desc h2 {
    font-weight: 100;
    font-size: 2.85rem;
    color: white;
}

.jumbotron .img-desc {
    max-width: 150%;
    margin-top: 35px;
}

.pad-section {
padding: 20px;
}

.margin-top-section {
    margin-top: 85px;
}

.pad-top-section {
    padding-top: 20px;
}

.features {
    margin-top: -20px;
}

.features h2 {
    font-weight: 100;
}

.faq .collapsible {
    border: 0;
    box-shadow: none;
}

.faq h2 {
    font-weight: 100;
}

.plans-prices {
    background: url("https://www.img.lirent.net/2014/10/Google-Now-Wallpaper-1.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}

.plans-prices .card {
    min-height: 550px;
}

.plans-prices h2 {
    font-weight: 100;
}

.plans-prices .card .card-content .collection {
    border: none;
}

.plans-prices .card .card-content .collection-item {
    border: none;
}

.plans-prices .card .card-image .card-title {
    width: 100%;
    position: relative;
}

.plans-prices .card .card-action {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.plans-prices .prices {
    position: relative;
    font-weight: 300;
    font-size: 2.42rem;
    text-align: center;
    padding-top: 15px;
}

.plans-prices .prices sup {
    font-size: 2.42rem;
    line-height: 1.6em;
}

.plans-prices .prices sub {
    font-weight: 100;
    font-size: 2.14rem;
    line-height: 1.6em;
    top: 0;
}

.news .btn-action {
    margin-top: 25px;
}

.footer {
    padding: 10px;
}

.footer .row {
    margin-bottom: 0;
}

.footer .social .collection {
    border: none;
}

.footer .social .collection .collection-item {
    display: inline;
}